@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #020617; /* neutral-950 */
}

/* Tipografía base */
body {
  @apply font-sans text-sm text-neutral-100 antialiased;
}

/* Títulos globales coherentes */
h1 {
  @apply text-2xl md:text-3xl font-semibold text-neutral-50;
}

h2 {
  @apply text-lg md:text-xl font-semibold text-neutral-100;
}

p {
  @apply text-sm leading-relaxed text-neutral-300;
}
